---
// Component Imports
import ProductsCreate from '../components/ProductsCreate.vue';

let title = 'Depot';
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/utilities.css')}>
</head>
<body>
	<main>
		<p>Hello CREATE: {Astro.props.title}!</p>
		<ProductsCreate />
	</main>
</body>
</html>