---
// Component Imports
import Products from '../components/Products.vue';

let title = 'Depot';

Astro.props.title = title;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="stylesheet" href={Astro.resolve('../styles/utilities.css')}>
</head>
<body>
	<main>
		<p>Hello {Astro.props.title}!</p>
		<Products client:load />
	</main>
</body>
</html>
